= shirt.description
<br/>
= "S: #{ shirt.small_quantity }"
= "M: #{ shirt.medium_quantity }"
= "L: #{ shirt.large_quantity }"
= "XL: #{ shirt.extra_large_quantity }"
= "XXL: #{ shirt.extra_large_quantity }"
<br/>
<br/>
